footer

    .container
        .row
            .col-6.col-sm-6.col-lg-3
                .footer__title O nákupu
                a.footer__link(href="#") Obchodní podmínky
                a.footer__link(href="#") Reklamace
                a.footer__link(href="#") Doprava a platba 
                a.footer__link(href="#") O nákupu

            .col-6.col-sm-6.col-lg-3
                .footer__title O nás
                a.footer__link(href="#") O značce
                a.footer__link(href="#") Aktuality
                a.footer__link(href="#") Poptávka
                a.footer__link(href="#") Ke stažení


            .col-6.col-sm-6.col-lg-3
                .footer__title Další odkazy
                a.footer__link(href="#") Ochrana osobních údajů
                a.footer__link(href="#") Zásady používání cookie
                a.footer__link(href="#") GDPR

            .col-6.col-sm-6.col-lg-3
                .footer__title Kontaktní informace
                a.footer__link(href="/kontakty.html") O společnosti
                a.footer__link(href="/kontakty.html") Kontakty
                

    section.copyright
        .container
            .copyright__wrap
                .copyright__title Copyright © 2023 #[a.copyright__link(href=metaURL) #{metaSitename}] Všechna práva vyhrazena.
                .copyright__author Vytvořeno v 
                    a.copyright__link(href=metaAuthorURL) #[img.lazyload(src="/img/load-symbol.svg" data-src="/img/eline-logo.svg" alt="eline.cz" aria-label="eline.cz")]