nav(id="mainNav")

    .nav-item 
        a.nav-link(href="produkt-vypis.html") #[img(src="/img/nav-img.svg" alt="...")] Akční nabídka
    .nav-item 
        a.nav-link(href="produkt-vypis.html") #[img(src="/img/nav-img.svg" alt="...")] Dílenský nábytek a vozíky
    .nav-item.expandable
        a.nav-linkDesktop(href="produkt-vypis.html") 
            img(src="/img/nav-img.svg" alt="...")
            span Hlavice, ráčny a příslušenství pro ruční použití 
            img(src="/img/icons/cheveron-right.svg" alt="Rozbalit")
            
        .nav-link(id="subToggle-0") #[img(src="/img/nav-img.svg" alt="...")] Hlavice, ráčny a příslušenství pro ruční použití #[img(src="/img/icons/cheveron.svg" alt="Rozbalit")]
        .nav-submenu(id="sub-0")
            .nav-submenu__single.--all
                a(href="/produkt-vypis.html").nav-submenu__title Zobrazit vše
            .container
                .row 
                    - for (var i=0; i<8; i++)
                        .col-12.col-lg-4
                            .nav-submenu__single    
                                img.lazyload(src="/img/load-symbol.svg" data-src="/img/product-thumb-medium.jpg" alt="" title="")
                                ul 
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy

    .nav-item.expandable
        a.nav-linkDesktop(href="produkt-vypis.html") 
            img(src="/img/nav-img.svg" alt="...")
            span Hlavice, ráčny a příslušenství
            img(src="/img/icons/cheveron-right.svg" alt="Rozbalit")
        .nav-link(id="subToggle-1") #[img(src="/img/nav-img.svg" alt="...")] Hlavice a příslušenství pro rázové utahováky #[img(src="/img/icons/cheveron.svg" alt="Rozbalit")]
        .nav-submenu(id="sub-1")
            .container
                .row 
                    - for (var i=0; i<8; i++)
                        .col-12.col-lg-4
                            .nav-submenu__single    
                                img.lazyload(src="/img/load-symbol.svg" data-src="/img/product-thumb-medium.jpg" alt="" title="")
                                ul 
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy
    .nav-item 
        a.nav-link(href="produkt-vypis.html") #[img(src="/img/nav-img.svg" alt="...")] Šuplíky
    .nav-item 
        a.nav-link(href="produkt-vypis.html") #[img(src="/img/nav-img.svg" alt="...")] Komody
    .nav-item.expandable 
        a.nav-linkDesktop(href="produkt-vypis.html") 
            img(src="/img/nav-img.svg" alt="...")
            span Hlavice, ráčny a příslušenství pro ruční použití 
            img(src="/img/icons/cheveron-right.svg" alt="Rozbalit")
        .nav-link(id="subToggle-2") #[img(src="/img/nav-img.svg" alt="...")] Noční stolky #[img(src="/img/icons/cheveron.svg" alt="Rozbalit")]
        .nav-submenu(id="sub-2")
            .container
                .row 
                    - for (var i=0; i<8; i++)
                        .col-12.col-lg-4
                            .nav-submenu__single    
                                img.lazyload(src="/img/load-symbol.svg" data-src="/img/product-thumb-medium.jpg" alt="" title="")
                                ul 
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy
        
    .nav-item.expandable
        a.nav-linkDesktop(href="produkt-vypis.html") 
            img(src="/img/nav-img.svg" alt="...")
            span Hlavice, ráčny a příslušenství pro ruční použití 
            img(src="/img/icons/cheveron-right.svg" alt="Rozbalit")   
        .nav-link(id="subToggle-3") #[img(src="/img/nav-img.svg" alt="...")] Dřevěné krabičky #[img(src="/img/icons/cheveron.svg" alt="Rozbalit" )]
        .nav-submenu(id="sub-3")
            .container
                .row 
                    - for (var i=0; i<3; i++)
                        .col-12.col-lg-4
                            .nav-submenu__single    
                                img.lazyload(src="/img/load-symbol.svg" data-src="/img/product-thumb-medium.jpg" alt="" title="")
                                ul 
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                    li 
                                        a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy

    .nav-item 
        a.nav-link(href="produkt-vypis.html") #[img(src="/img/nav-img.svg" alt="...")] Dřevěné boxy
        
    .nav-item-backdrop