.searchAutocomplete(id="searchAutocomplete")
    .searchAutocomplete__section 
        .searchAutocomplete__title Produkty
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-detail.html") 
                strong 2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY
                .searchAutocomplete__linkSub
                    span Kód produktu: 123465
                    span.--available Skladem 10ks

        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-detail.html") 2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-detail.html") 2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY


    .searchAutocomplete__section 
        .searchAutocomplete__title Kategorie
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-vypis.html") Dřevěné krabičky
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-vypis.html") Dřevěné krabičky
        .searchAutocomplete__item 
            a.searchAutocomplete__link(href="/produkt-vypis.html") Dřevěné krabičky