doctype html
include template/_variables.pug  
html(lang=lang)
    - var slug = "kontakty";
    include template/_head.pug  
    body
        include components/_modal-login.pug

        include components/_header.pug
        #wrapper
            include components/_nav.pug
            main
                include components/_breadcrumbs.pug
            
                .page
                    section.page-heading
                        .container
                            h1 Kontakty
                    section.page-content
                        .container 
                            .row 
                                .col-12.col-md-6
                                    .page-content__cell
                                        h2 Sídlo společnosti a fakturační adresa:
                                        a.contact-block(href="tel:+420596911312") +420 596 911 312
                                        ul 
                                            li 
                                                strong Národních mučedníků 499
                                            li 738 01 Frýdek-Místek    
                                            li  
                                            li 258 52 591
                                            li CZ25852591 

                                .col-12.col-md-6
                                    .page-content__cell
                                        h2 Provozovna a korespondenční adresa
                                        a.contact-block(href="tel:+420558433735") +420 558 433 735
                                        ul 
                                            li 
                                                strong Národních mučedníků 499
                                            li 738 01 Frýdek-Místek
                                            li Po - Pá ... 8:00 - 16:00            


                                .col-12.col-md-12
                                    .page-content__cell
                                        h2 Kde nás najdete  
                                        .page-content__map
                                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2581.4812309912713!2d18.3651375!3d49.682909900000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4713f713fc6d5dc5%3A0xbde5f2f2742850a4!2zTsOhcm9kbsOtY2ggbXXEjWVkbsOta8WvIDQ5OSwgRnLDvWRlaywgNzM4IDAxIEZyw71kZWstTcOtc3Rlaw!5e0!3m2!1sen!2scz!4v1693871784940!5m2!1sen!2scz" width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy")

                                .col-12.col-md-12
                                    .page-content__cell
                                        h2 Informační oznámení o EET
                                        p Podle zákona o evidenci tržeb je prodávající povinen  vystavit  kupujícímu  účtenku.  Zároveň  je povinen zaevidovat přijatou  tržbu  u správce  daně  online;  v  případě  technického  výpadku  pak  nejpozději  do 48 hodin.", eviduje-li poplatník v daném pokladním místě tržby v běžném režimu.


        
        include components/_footer.pug

        include template/_scripts.pug  