doctype html
include template/_variables.pug  
html(lang=lang)
    - var slug = "kosik-1";
    include template/_head.pug  
    body.cart
        include components/_modal-login.pug
        include components/_modal-cart-import.pug

        include components/_header.pug

        main
            section.cart-heading
                .container
                    .cart-heading__item.--active
                        .cart-heading__icon 1
                        .cart-heading__title Nákupní košík
                    .cart-heading__item
                        .cart-heading__icon 2
                        .cart-heading__title Doprava a platba
                    .cart-heading__item
                        .cart-heading__icon 3
                        .cart-heading__title Osobní údaje
                    .cart-heading__item
                        .cart-heading__icon 4
                        .cart-heading__title Shrnutí objednávky


            section.cart-content
                
                .container
                    .cart-container--narrow
                    
                        .cart-table
                            form.cart-content__form(method="post" id="cart-form")
                                .cart-table__title Nákupní košík

                                .cart-table-items    

                                        .cart-item 
                                            .cart-item-thumb-wrap
                                                .cart-item-thumb
                                                    img(src="/img/product-thumb-medium.jpg" alt="#" title="#")
                                            .cart-item-content 
                                                .cart-item-main     
                                                    a.cart-item-name(href="produkt-detail.html") #{ProductName}
                                                        .cart-item-name-var Zelená barva
                                                        .cart-item-stock.--available #[img(src="/img/icons/check.svg" alt="Skladem 10 ks")] Skladem 10 ks
                                                    
                                                    .cart-item-stepper.stepper 
                                                        span.minus -
                                                        input(id="qty-stepper-input-1" class="num_items" type="number" value="2" min="2" max="100" step="2" aria-label="Počet položek" required readonly) 
                                                        span.plus +
                                                    
                                                    .cart-item-prices 
                                                        .cart-item-price-pc #[span 502] Kč/ks
                                                        .cart-item-price #[span 502] Kč

                                                    a.cart-item-remove(data-no-instant="" href="/kosik?delete=2289|2255")
                                                        .cart-item-remove-icon
                                                            img(src="/img/icons/cross-alt.svg" alt="Odstranit z košíku")


                                        .cart-item 
                                            .cart-item-thumb-wrap
                                                .cart-item-thumb
                                                    img(src="/img/product-thumb-medium.jpg" alt="#" title="#")
                                            .cart-item-content 
                                                .cart-item-main     
                                                    a.cart-item-name(href="produkt-detail.html") #{ProductName}
                                                        .cart-item-name-var Zelená barva
                                                        .cart-item-stock #[img(src="/img/icons/cross.svg" alt="Skladem 10 ks")] Není skladem
                                                    
                                                    .cart-item-stepper.stepper 
                                                        span.minus -
                                                        input(id="qty-stepper-input-1" class="num_items" type="number" value="1" min="1" max="100" step="1" aria-label="Počet položek" required readonly) 
                                                        span.plus +
                                                    
                                                    .cart-item-prices 
                                                        .cart-item-price-pc #[span 520,5] Kč/ks
                                                        .cart-item-price #[span 520,5] Kč

                                                    a.cart-item-remove(data-no-instant="" href="/kosik?delete=2289|2255")
                                                        .cart-item-remove-icon
                                                            img(src="/img/icons/cross-alt.svg" alt="Odstranit z košíku")



                                        .cart-item.--unavailable
                                            .cart-item-thumb-wrap
                                                .cart-item-thumb
                                                    img(src="/img/product-thumb-medium.jpg" alt="#" title="#")
                                            .cart-item-content 
                                                .cart-item-main     
                                                    a.cart-item-name(href="produkt-detail.html") #{ProductName}
                                                        .cart-item-name-var Zelená barva
                                                        .cart-item-stock #[img(src="/img/icons/cross.svg" alt="Skladem 10 ks")] Není skladem
                                                    
                                                    .cart-item-stepper.stepper 
                                                        span.minus -
                                                        input(id="qty-stepper-input-1" class="num_items" type="number" value="1" min="1" max="100" step="1" aria-label="Počet položek" required readonly) 
                                                        span.plus +
                                                    
                                                    .cart-item-prices 
                                                        .cart-item-price-pc #[span 100] Kč/ks
                                                        .cart-item-price #[span 100] Kč

                                                    a.cart-item-remove(data-no-instant="" href="/kosik?delete=2289|2255")
                                                        .cart-item-remove-icon
                                                            img(src="/img/icons/cross-alt.svg" alt="Odstranit z košíku")


                                .cart-table__footer.--step1

                                    .cart-table__footerSummary
                                        .cart-table__footerSummary-row
                                            span Cena bez DPH:
                                            span #[span(id="goodsprice") 1140] Kč
                                        .cart-table__footerSummary-row
                                            span Cena včetně DPH
                                            span #[span(id="goodspriceDPH") 1379] Kč 


                                    .cart-table__footerSplit
                                        .form-group.--checkbox
                                            label(for="split-order") Chci rozdělit objednávku
                                            input(type="checkbox" name="split-order" id="split-order")

                                        p Ve Vašem košíku se nachází i položky, které nejsou momentálně skladem. 



                                    button.btn.--cart(name="nextstep" form="cart-form") Doprava a platba #[img(src="/img/icons/cheveron-white.svg" alt="Pokračovat")]

                                    a.cart-table__footer-link(href="/") 
                                        .cart-table__footer-icon
                                            img(src="/img/icons/cheveron.svg" alt="Zpět do obchod")
                                        .cart-table__footer-text Zpět do obchodu

                    
                                .cart-table__export
                                    .cart-table__export-group
                                        span #[img(src="/img/icons/save.svg")] Exportovat košík
                                        a.item(href="#") CSV
                                        a.item(href="#") XML

                                    .cart-table__export-group
                                        span #[img(src="/img/icons/upload.svg")] Načíst košík
                                        span.item(data-micromodal-trigger="modal-cart-import") CSV
                                        span.item(data-micromodal-trigger="modal-cart-import") XML



        
        include components/_footer.pug

        include template/_scripts.pug  

        script(src="/js/cart.js")