doctype html
include template/_variables.pug  
html(lang=lang)
    - var slug = "zapomenute-heslo";
    include template/_head.pug  
    body
        include components/_modal-login.pug
        
        include components/_header.pug
        #wrapper
            include components/_nav.pug
            main
                include components/_breadcrumbs.pug
                .container 
                    .page.--narrow
                        section.page-heading
                            h1 Přihlášení

                        form(method="post" id="login-form")

                            .form-group     
                                label(for="login-form-email") Email
                                | <input type="email" id="login-form-email" name="login-form-email" required minlength="6" maxlength="255" pattern="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})">
                        
                            .form-group     
                                label(for="login-form-password") Heslo
                                | <input type="password" id="login-form-password" name="login-form-password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\w\W]{8,}$">

                            .form-group 
                                button.btn.--fullWidth(name="login-form-submit" id="login-form-submit") Přihlásit #[img(src="/img/icons/cheveron-white.svg")]



        
        include components/_footer.pug

        include template/_scripts.pug  