doctype html
include template/_variables.pug  
html(lang=lang)
    - var slug = "produkt-detail";
    include template/_head.pug  
    body
        include components/_modal-login.pug
        include components/_modal-cart.pug
        
        include components/_header.pug
        #wrapper
            
            include components/_nav.pug
            main
                include components/_breadcrumbs.pug
                section.product-detail
                    .container
                        .row
                            .col-12.col-lg-7
                                .product-detail__photos


                                    .product-card__tagsRight
                                        .product-card__tagSingle 
                                            .tag.--circleSale -18%
                                        .product-card__tagSingle 
                                            .tag.--circle Doprodej
                                        .product-card__tagSingle 
                                            .tag.--free-delivery Doprava zdarma

                                    #productGallery


                                        #pgallery.swiffy-slider.slider-item-ratio.slider-item-ratio-1x1.slider-nav-round.slider-nav-nodelay
                                            ul.slider-container
                                                li
                                                    img(src='https://placehold.co/600x600' loading='lazy' alt='...' data-bs-toggle='modal' data-bs-target='#productGalleryModal' onclick='imageClick(0)')
                                                li
                                                    img(src='https://placehold.co/800x800' loading='lazy' alt='...' data-bs-toggle='modal' data-bs-target='#productGalleryModal' onclick='imageClick(1)')
                                                li
                                                    img(src='https://placehold.co/500x500' loading='lazy' alt='...' data-bs-toggle='modal' data-bs-target='#productGalleryModal' onclick='imageClick(2)')
                                                li
                                                    img(src='https://placehold.co/900x900' loading='lazy' alt='...' data-bs-toggle='modal' data-bs-target='#productGalleryModal' onclick='imageClick(3)')
                                                li
                                                    img(src='https://placehold.co/700x700' loading='lazy' alt='...' data-bs-toggle='modal' data-bs-target='#productGalleryModal' onclick='imageClick(4)')
                                                li
                                                    img(src='https://placehold.co/1000x1000' loading='lazy' alt='...' data-bs-toggle='modal' data-bs-target='#productGalleryModal' onclick='imageClick(5)')

                                            button.slider-nav(type='button' aria-label='Go previous')
                                            button.slider-nav.slider-nav-next(type='button' aria-label='Go next')

                                            .product-card__fav
                                                a(href="#") #[img(src="/img/icons/heart.svg")] Do oblíbených
                                                a.--remove(href="#") #[img(src="/img/icons/heart-remove.svg")] Odstranit


                                        .swiffy-slider.slider-nav-dark.slider-nav-sm.slider-nav-chevron.slider-item-show4.slider-item-snapstart.slider-item-ratio.slider-item-ratio-1x1.slider-nav-visible.slider-nav-page.slider-nav-outside-expand.pt-3.d-none.d-lg-block
                                            ul#pgallerythumbs.slider-container(style='cursor:pointer')
                                                li
                                                    img(src='https://placehold.co/600x600' loading='lazy' alt='...' onmouseover='thumbHover(0)')
                                                li
                                                    img(src='https://placehold.co/800x800' loading='lazy' alt='...' onmouseover='thumbHover(1)')
                                                li
                                                    img(src='https://placehold.co/500x500' loading='lazy' alt='...' onmouseover='thumbHover(2)')
                                                li
                                                    img(src='https://placehold.co/900x900' loading='lazy' alt='...' onmouseover='thumbHover(3)')
                                                li
                                                    img(src='https://placehold.co/700x700' loading='lazy' alt='...' onmouseover='thumbHover(4)')
                                                li
                                                    img(src='https://placehold.co/1000x1000' loading='lazy' alt='...' onmouseover='thumbHover(5)')

                                            button.slider-nav(type='button' aria-label='Go previous')
                                            button.slider-nav.slider-nav-next(type='button' aria-label='Go next')


                                        #productGalleryModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                            #productGalleryBackdrop
                                            .modal-dialog.modal-dialog-centered.modal-fullscreen
                                                #productGalleryClose Zavřít
                                                .modal-content
                                                    .modal-body
                                                        #pgalleryModal.swiffy-slider.h-100.slider-nav-dark
                                                            ul.slider-container(tabindex='-1')
                                                                li.d-flex.align-items-center.justify-content-center
                                                                    img.mw-100.mh-100(src='https://placehold.co/600x600' loading='lazy' alt='...' data-bs-dismiss='modal')
                                                                li.d-flex.align-items-center.justify-content-center
                                                                    img.mw-100.mh-100(src='https://placehold.co/800x800' loading='lazy' alt='...' data-bs-dismiss='modal')
                                                                li.d-flex.align-items-center.justify-content-center
                                                                    img.mw-100.mh-100(src='https://placehold.co/500x500' loading='lazy' alt='...' data-bs-dismiss='modal')
                                                                li.d-flex.align-items-center.justify-content-center
                                                                    img.mw-100.mh-100(src='https://placehold.co/900x900' loading='lazy' alt='...' data-bs-dismiss='modal')
                                                                li.d-flex.align-items-center.justify-content-center
                                                                    img.mw-100.mh-100(src='https://placehold.co/700x700' loading='lazy' alt='...' data-bs-dismiss='modal')
                                                                li.d-flex.align-items-center.justify-content-center
                                                                    img.mw-100.mh-100(src='https://placehold.co/1000x1000' loading='lazy' alt='...' data-bs-dismiss='modal')

                                                            button.slider-nav(type='button' aria-label='Go previous')
                                                            button.slider-nav.slider-nav-next(type='button' aria-label='Go next')

                                                            ul.slider-indicators.slider-indicators-dark.slider-indicators-highlight.slider-indicators-round
                                                                li.active
                                                                li
                                                                li
                                                                li
                                                                li
                                                                li





                            .col-12.col-lg-5
                                .product-detail__info
                                    .product-card__tags
                                        .product-card__tagSingle
                                            .tag.--sale Akce
                                        .product-card__tagSingle    
                                            .tag.--new Novinka
                                        .product-card__tagSingle 
                                            .tag.--recommended Doporučené
                                        .product-card__tagSingle 
                                            .tag.--top Top

                                    h1.product-detail__title #{ProductName}
                                    .product-detail__code
                                        div Kód produktu: #[span(id="product-code") 7893/80X160-BI]
                                        div EAN: #[span(id="product-code") 76564160265]

                                    p.product-detail__text Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný#[a(href="#productDescription") Číst více]
                                    .product-detail__form(method="post")



                                        .product-detail__stock(id="stock" data-status="default") Skladem na eshopu

                                        .product-detail__price 
                                            .product-detail__priceMain #[span(id="price-old") od 1 200 Kč] #[span(id="price-main") od 1 118 Kč]
                                            .product-detail__priceVAT #[span(id="price-vat") od 923,97 Kč] bez DPH

                                        .product-detail__cta 

                                            .product-detail__button 
                                                a.btn.--green(href="#" name="add-to-cart") #[img(src="/img/icons/cart-white.svg" alt="Vložit do košíku")] Koupit nyní

                        .tab.product-detail__tab
                            button.tablinks.active(onclick="openTab(event, '1')") Popis a Parametry
                            button.tablinks(onclick="openTab(event, '2')") Dokumenty k produktu


                        .tabcontent.product-detail__tabcontent(id="1" style="display: block;")

                            .row
                                .col-12.col-lg-7
                                    .product-detail__description(id="productDescription")
                                        h2 Popis produktu
                                        p Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný

                                        p Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný

                                        p Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný

                                .col-12.col-lg-1

                                .col-12.col-lg-4
                                    .product-detail__parameters
                                        h2 Parametry
                                        table  
                                            tbody 
                                                tr
                                                    td Šířka
                                                    td 15cm
                                                tr
                                                    td Výška
                                                    td 150cm
                                                tr
                                                    td Hloubka
                                                    td Lorem ipsum dolore

                        .tabcontent.product-detail__tabcontent(id="2" style="display: none;")
                            .product-detail__files
                                a(href="#") soubor.pdf
                                a(href="#") soubor.pdf
                                a(href="#") soubor.pdf
                                a(href="#") soubor.pdf


                section.products
                    .container  
                        h1 Obdobné produkty
                        .products-grid
                            include components/_product-card.pug
                            include components/_product-card.pug
                            include components/_product-card.pug
                            include components/_product-card.pug

        include components/_footer.pug

        include template/_scripts.pug  