doctype html
include template/_variables.pug  
html(lang=lang)
    - var slug = "produkt-detail-wholesale";
    include template/_head.pug  
    body
        include components/_modal-login.pug


        include components/_header.pug
        #wrapper
            
            include components/_nav.pug
            main
                include components/_breadcrumbs.pug
                section.product-detail
                    .container
                        .row
                            .col-12.col-lg-7
                                .product-detail__photos

                                    .product-card__tagsRight
                                        .product-card__tagSingle 
                                            .tag.--circleSale -18%
                                        .product-card__tagSingle 
                                            .tag.--circle Doprodej
                                        .product-card__tagSingle 
                                            .tag.--free-delivery Doprava zdarma


                                    .product-detail__carousel(id="product-carousel")
                                        .product-detail__carouselItem
                                            .product-detail__carouselLink
                                                img(src="/img/product-thumb-large.jpg" alt="2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY lorem ipsum" title="2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY lorem ipsum" loading="lazy")
                                                span Lorem ipsum
                                        .product-detail__carouselItem
                                            .product-detail__carouselLink
                                                img(src="/img/product-thumb-large.jpg" alt="2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY lorem ipsum" title="2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY lorem ipsum" loading="lazy")
                                                span Lorem ipsum
                                        .product-detail__carouselItem
                                            .product-detail__carouselLink
                                                img(src="/img/product-thumb-large.jpg" alt="2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY lorem ipsum" title="2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY lorem ipsum" loading="lazy")
                                                span Lorem ipsum

                                    button.prev(aria-label="Zpět")
                                        img(src="/img/icons/cheveron.svg" alt="Zpět")
                                    button.next(aria-label="Vpřed")
                                        img(src="/img/icons/cheveron.svg" alt="Vpřed")

                                    .lightbox(id="lightbox")

                                    .product-card__fav
                                        a(href="#") #[img(src="/img/icons/heart.svg")] Do oblíbených
                                        a.--remove(href="#") #[img(src="/img/icons/heart-remove.svg")] Odstranit

                                    .product-detail__thumbs 

                                        .product-detail__thumbWrap
                                            .product-detail__thumb(id="thumb0")
                                                .product-detail__thumbInner
                                                    img.lazyload(src="/img/load-symbol.svg" data-src="/img/product-thumb-medium.jpg" alt="thumb1")

                                        .product-detail__thumbWrap
                                            .product-detail__thumb(id="thumb1")
                                                .product-detail__thumbInner
                                                    img.lazyload(src="/img/load-symbol.svg" data-src="/img/product-thumb-medium.jpg" alt="thumb2")

                                        .product-detail__thumbWrap    
                                            .product-detail__thumb(id="thumb2")
                                                .product-detail__thumbInner
                                                    img.lazyload(src="/img/load-symbol.svg" data-src="/img/product-thumb-medium.jpg" alt="thumb3")



                            .col-12.col-lg-5
                                .product-detail__info

                                    .product-card__tags
                                        .product-card__tagSingle
                                            .tag.--sale Akce
                                        .product-card__tagSingle    
                                            .tag.--new Novinka
                                        .product-card__tagSingle 
                                            .tag.--recommended Doporučené
                                        .product-card__tagSingle 
                                            .tag.--top Top

                                    h1.product-detail__title #{ProductName}
                                    .product-detail__code
                                        div Kód produktu: #[span(id="product-code") 7893/80X160-BI]
                                        div EAN: #[span(id="product-code") 76564160265]
                                        
                                        
                                    p.product-detail__text Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný#[a(href="#productDescription") Číst více]
                                    .product-detail__tabletop 
                                        h5 Parametry
                                        table 
                                            tr
                                                td Balení
                                                td lorem ipsum
                                            tr
                                                td Minimální množství 
                                                td lorem ipsum
                                            tr
                                                td Hmotnost
                                                td lorem ipsum

                                    form.product-detail__form(method="post")


                                        .product-detail__stock(id="stock" data-status="active") Skladem  

                                        .product-detail__priceWh
                                            .product-detail__priceWh-line
                                                span Doporučená prodejní cena
                                                span 402 Kč
                                            .product-detail__priceWh-line
                                                span Doporučená prodejní cena bez DPH
                                                span 402 Kč    

                                            .product-detail__priceWh-mainline
                                                span Nákupní cena bez DPH
                                                span #[small 402 Kč] 202 Kč

                                        .product-detail__cta 
                                            .product-detail__qty.stepper(id="qty-stepper" ) 
                                                span.minus –
                                                input(id="qty-stepper-input" type="number" value="1" min="1" max="100" step="1" aria-label="Počet položek" required) 
                                                span.plus +
                                            .product-detail__button 
                                                button.btn.--green(name="add-to-cart") #[img(src="/img/icons/cart-white.svg" alt="Vložit do košíku")] Vložit do košíku

                        .tab.product-detail__tab
                            button.tablinks.active(onclick="openTab(event, '1')") Popis a Parametry
                            button.tablinks(onclick="openTab(event, '2')") Dokumenty k produktu


                        .tabcontent.product-detail__tabcontent(id="1" style="display: block;")

                            .row
                                .col-12.col-lg-7
                                    .product-detail__description(id="productDescription")
                                        h2 Popis produktu
                                        p Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný

                                        p Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný

                                        p Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný

                                .col-12.col-lg-1

                                .col-12.col-lg-4
                                    .product-detail__parameters
                                        h2 Parametry
                                        table  
                                            tbody 
                                                tr
                                                    td Šířka
                                                    td 15cm
                                                tr
                                                    td Výška
                                                    td 150cm
                                                tr
                                                    td Hloubka
                                                    td Lorem ipsum dolore



                        .tabcontent.product-detail__tabcontent(id="2" style="display: none;")
                            .product-detail__files
                                a(href="#") soubor.pdf
                                a(href="#") soubor.pdf
                                a(href="#") soubor.pdf
                                a(href="#") soubor.pdf



                section.products
                    .container  
                        h1 Obdobné produkty
                        .products-grid
                            include components/_product-card.pug
                            include components/_product-card.pug
                            include components/_product-card.pug
                            include components/_product-card.pug



        include components/_footer.pug

        include template/_scripts.pug  