doctype html
include template/_variables.pug  
html(lang=lang)
    - var slug = "uzivatelsky-ucet";
    include template/_head.pug  
    body
        include components/_modal-login.pug

        include components/_header.pug
        #wrapper
            include components/_nav.pug
            main
                include components/_breadcrumbs.pug

                .page.--narrow
                    section.page-heading
                
                        h1 Uživatelský účet
                        p V případě zájmu o změnu údajů, kontaktujte nás
                        
                    section.page-content
                        .user-info-section
                            h3 Fakturační údaje
                            .user-info-table 
                                table 
                                    tr 
                                        td Jméno
                                        td test
                                    tr 
                                        td Příjmení
                                        td test
                                    tr 
                                        td Jméno
                                        td test     
                                    tr 
                                        td Jméno
                                        td test

                        .user-info-section
                            h3 Doručovací adresy
                            form(action="" method="post")
                                .form-group.--inline  
                                    select(name="user-info" id="user-info")   
                                        option(value="cz") Adresa Česká republika
                                        option(value="sk") Adresa Slovensko
                                    button.btn.btn-secondary Vypsat adresu

                                .user-info-table 
                                    table 
                                        tr 
                                            td Jméno
                                            td test
                                        tr 
                                            td Příjmení
                                            td test
                                        tr 
                                            td Jméno
                                            td test     
                                        tr 
                                            td Jméno
                                            td test
                                    

                        .user-info-section
                            h3 Obchodní zástupce
                            .user-info-usergrid 
                                .usergrid-item 
                                    .usergrid-item-img
                                        img(src="/img/icons/user.svg" alt="Petr Novák")
                                    .usergrid-item-text 
                                        span Petr Novák 
                                        small info@petrnovak.cz


                        .user-info-section
                            h3 Nákupčí
                            .user-info-usergrid 
                                .usergrid-item 
                                    .usergrid-item-img
                                        img(src="/img/icons/user.svg" alt="Petr Novák")
                                    .usergrid-item-text 
                                        span Petr Novák 
                                        small info@petrnovak.cz
                                .usergrid-item 
                                    .usergrid-item-img
                                        img(src="/img/icons/user.svg" alt="Petr Novák")
                                    .usergrid-item-text 
                                        span Petr Novák 
                                        small info@petrnovak.cz
                                .usergrid-item 
                                    .usergrid-item-img
                                        img(src="/img/icons/user.svg" alt="Petr Novák")
                                    .usergrid-item-text 
                                        span Petr Novák 
                                        small info@petrnovak.cz
                                .usergrid-item 
                                    .usergrid-item-img
                                        img(src="/img/icons/user.svg" alt="Petr Novák")
                                    .usergrid-item-text 
                                        span Petr Novák 
                                        small info@petrnovak.cz


        include components/_footer.pug

        include template/_scripts.pug  