- var lang = "cs";

- var title = "Kingtony.cz";

- var metaDescription = "...";

- var metaKeywords = "";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://kingtony.cz";

- var metaSitename = "Kingtony.cz";


- var URLbase = "";


- var metaTwitterName = "@kingtonycz";

- var metaTwitterImg = "/img/product-thumb-medium.jpg";

- var metaFacebookName = "kingtonycz";

- var metaYoutubeName = "kingtonycz";

- var metaInstagramName = "kingtonycz";



- var ProductName = "2-STUPŇOVÝ RUČNÍ NÝTOVAČ NA OCELOVÉ NÝTY";